*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: url("2126.jpg") no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: x-large;
}
.container .imgbox {
    border: 8px solid darkslateblue;
    border-radius: 9px 9px 9px 77px;
    background: linear-gradient(to right, #ec38bc, #7303c0, #ec38bc, #fdeff9);
}
.container .imgbox img {
    width: 175px;
}
.container .aboutBox {
    width: 42%;
}

.container .aboutBox h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.container .aboutBox h1 {
    margin: 12px 0px;
    /* background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%); */
    background-image: linear-gradient(to right, #ec38bc, #7303c0, #ec38bc, #fdeff9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Dancing Script', cursive;
}
.container .aboutBox p {
    font-family: 'Comfortaa', cursive;
    font-family: 'Dancing Script', cursive;
}

.container .next-pages-buttons ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.container .next-pages-buttons ul li {
    margin: 24px 0px;
}
.container .next-pages-buttons ul li button {
    background: transparent;
    border: none;
}
.container .next-pages-buttons ul li button:hover {
    border: 1px solid #951599;
    padding: 3px 6px;
    font-size: medium;
    border-radius: 9px;
}
.container .next-pages-buttons ul li button a {
    color: darkviolet;
    font-size: large;
    font-weight: bold;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Varela Round', sans-serif; */
    text-decoration: none;
}
.container .next-pages-buttons ul li ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.container .next-pages-buttons ul li ul li {
    margin: 0px 24px;
    cursor: pointer;
}
.container .next-pages-buttons ul li ul li img {
    width: 34px;
}

/* Resposnsive */
@media screen and (max-width: 816px) {
    .container {
        flex-direction: column;
    }
    .container .imgbox img {
        width: 126px;
    }
    .container .aboutBox {
        width: 80%;
        text-align: center;
    }
}   
@media screen and (max-width: 280px) {
    .container .imgbox {
        border: 4px solid darkslateblue;
    }
    .container .imgbox img {
        width: 91px;
    }
    .container .aboutBox {
        font-size: medium;
    }
    .container .next-pages-buttons ul {
        font-size: medium;
    }
}